
@media screen and (max-width:$screen-xs){
    #main-nav,
    #meta-nav,
    #banner, 
    #page > main, 
    #modalBox,
    .cart-tab,
    #page > footer
    {display:none;}
}
    
    .navbar-toggle{
        @extend %clearfix;
            color:$color_primary;
            border:1px solid currentColor;
            @include border-radius(5px);
            @include size(auto 44px);
            max-width:10em;
            margin:0 auto;
            padding:.5em 1em;
            .icon {
                @include transform(scale(0.15));
                @include transform-origin(left top);
                @include size(44px);
                display:inline-block;
                margin-right:.5em;
                + span {
                    font-size: 1.5em;
                }
            }
            span {float:left;}
        }


