.full-size-bar{
    div:not(.contact-data) p{
        padding:0;
    }
    body.kontakt &{
        @include display(flex);
        @include flex-direction(row);
        > div[class*="col-"]{
            flex-basis: 50%;
        }
        background:$color_primary;
        .contact-data{
            * {color:white;}
            padding:0 2em;
        }
    }
}
