html,
body {
    height: 100%;
}
* { 
    box-sizing: border-box;
    position: relative;
    &:before, &:after{
        box-sizing: border-box;
    }
}
.wrapper {
    max-width:100%;
    width:auto;
    @media screen and (min-width:$screen-md){

    }
    #page > header & .logo{
        @media screen and (max-width:$screen-xs){
            margin:1em 2em;
            
        }
        @media screen and (min-width:$screen-md){
            margin-right: 0;
        } 
    }
}