#page {
    > header {
        .top.fixed{
            position: fixed;
            top:0;
            left:0;
            right:0;
            z-index: 999;
            background:white;
            padding-top:$vspacing;
            @include shadow(2px);
            .logged-in &{
                top:32px;
            }
        }
    }
    > main {
        .panels {
            margin:0 $vspacing;
            padding-bottom:2 * $vspacing;
        }
        #page-cnt {
            @include linear-gradient(0deg, #ededee 0%, #fff 50%, #fff 100%);
        }
        .site-main{
            body:not(.home) & {
                border-top: 1px dashed $color-light-grey;
                padding-top:4 * $vspacing;
            }
        }
        
        aside.sidebar {
/*            margin:2 * $vspacing 0;*/
        }
    }
    > footer {
        background:$footer-background;
        .footer-widget{
            padding:0 $vspacing;
            &:first-child{
                padding-left:0;
            }
            &:last-child{
                padding-right:0;
            }
        }
        body:not(.home){
            margin-top:2 * $vspacing;
        }
        
        .footer-bottom-line{
            padding:$vspacing 0;
            background: $color-dark-grey;
            * {color:lighten($color-dark-grey,100%);}
            > .wrapper > *:last-child{text-align: right;}  
            > .wrapper > .copyright {font-size: smaller;}
        }
    }
    .sidebar-widget {
        
        > div {
            margin:0 0 $vspacing 0;
            padding:0 0 $vspacing 0;
            border:{
                width:0 0 1px 0;
                style:dashed;
                color:$color-light-grey;
            }
        }
        .woocommerce &{
            margin-right:2em;
            ~.content{
                margin-left: 2em;
            }
        }
    }
    .site-main{
        .page.kontakt &,
        .error404 &{
            padding:5% 20% 0 20%;
        }
        &#page-cnt > div {
            width: 70%;
            margin: 2em auto 0 auto;
            font-size: larger;
        }
    }
}

