@media screen and (max-width:$screen-md){
    #main-nav,
    #meta-nav, 
    #modalBox
    {display:none;} 
}
#page {
    > header {
        .top.fixed{
            @media screen and (max-width:$screen-md){
                min-height: 40px;
                z-index: 1000;
            }
            position: fixed;
            top:0;
            left:0;
            right:0;
            z-index: 9999;
            background:white;
            padding-top:$vspacing;
            @include shadow(2px,rgba(0,0,0,.2));
            .admin-bar &{
                top:32px;
            }
        }
    }
    > main {
        .panels {
            @media screen and (max-width:$screen-md){
                margin-bottom:4 * $vspacing;
            }
            @media screen and (min-width:$screen-md){
                margin:4 * $vspacing $vspacing;
                padding-bottom:2 * $vspacing;
            }
        }
        #page-cnt {
            @include linear-gradient(0deg, #ededee 0%, #fff 50%, #fff 100%);
        }
        .site-main{
            body:not(.home) & {
                @media screen and (min-width:$screen-md){
                border-top: 1px dashed $color-light-grey;
                padding-top:3 * $vspacing;}
            }
        }
    }
    > footer {
        padding:2 * $vspacing 0 0 0;
        background:$footer-background;
        .footer-widget{
            padding:0 $vspacing;
            &:first-child{
                padding-left:0;
            }
            &:last-child{
                padding-right:0;
            }
        }
        body:not(.home) &{
            margin-top:2 * $vspacing;
        }
        
        .footer-bottom-line{
            padding:$vspacing 0;
            background: $color-dark-grey;
            * {color:lighten($color-dark-grey,100%);}
            li {display:inline-block;}
            @media screen and (min-width:$screen-sm){
				> .wrapper > div:first-child {@include span-columns(4);}
				> .wrapper > div:last-child {@include span-columns(8);}
			}
            > .wrapper > *:last-child{text-align: right;}  
            > .wrapper > .copyright {font-size: smaller;}
        }
    }
    .sidebar-widget {
        
        > div {
            margin:0 0 $vspacing 0;
            padding:0 0 $vspacing 0;
            border:{
                width:0 0 1px 0;
                style:dashed;
                color:$color-light-grey;
            }
        }
        .woocommerce &{
            @media screen and (min-width:$screen-md){
            margin-right:2em;
            ~.content{
                margin-left: 2em;
            }
            }
        }
    }
    .site-main{
        .page.kontakt & .content,
        .error404 & .content{
            width: 50%;
                margin: 0 auto;
                float: none;
        }
        &#page-cnt > div {
            font-size: larger;
            float: none;
            @media screen and (max-width:$screen-xs){
                margin: 2em .5em 0 .5em;
            }
            @media screen and (min-width:$screen-xs){
                width: 70%;
                margin-right:2em;
                margin: 2em auto 0 auto;
            }
        }
    }
}

