// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.
$foo:red;
.foo{
    border:1px solid $foo;
}
$base-font: 		"Josefin Sans", arial, helvetica, sans-serif !default;
$header-font: 		"Merriweather", georgia, times new roman, serif !default;
$handwritten-font:      "Lobster Two", cursive !default;
$base-font-size:        16px;
$semibold:              600;

// base color scheme
$body-background: 	#fff;
$color_body: 		#333;
$footer-background:     #f3f3f3;
$color_primary:         #d14491;
$color_secondary:       #e22185;
$color_contrast:        #5CA6FF;
$color_contrast_dark:   tint($color_contrast,15%);
$color_links:           $color_primary;	
$color-light-grey:      #ababab;
$color-dark-grey:       #44484e;
$color_border:		rgba(0,0,0,0.1);
$error: 			#E51E56;
$success: 			#24929E;
$info: 				#D875AC;
$vspacing: 		$base-font-size;

//breakpoints
$screen-mini: 320px;
$screen-xs: 480px;
$screen-maxPhone: 736px;
$screen-smallPad:600px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$susy: (
	columns: 12,
	gutters: 1/3,
	math: fluid,
	output: float,
	gutter-position: after,

	use-custom: (
		box-sizing: false
	)
);