article{
    aside & {
        margin:0 2em;
        padding:2em;
    }
    .content &:not(.programme),
    .content &:not(.trainer){
        margin: 2 * $vspacing 0;
        padding: 2 * $vspacing 0;
        @include border-style(1px 0 0 0, dashed, $color_border);
    }
    &.trainer{
        @include border-style(1px, solid, $color_border);
    }
    .post_content {
        @include clearfix;
    }
    footer{
        font-size: smaller;
        color:lighten($color_body,20%); 
        .single & {
            margin-top:$vspacing;
        }
    }
    &.has-post-thumbnail{
        @include display(flex);
        @include justify-content(space-between);
        > a {flex-basis: 20%;}
        > section {flex-basis: 70%;}
        
        &.type-trainer{
            > * {@include flex (1);}
            > *:last-child {
                margin-left: 1em;
            }
        }
    }
    > section {}
    footer {
        margin-top:$vspacing;
        padding-top:$vspacing;
        border:{
            width:1px 0 0 0;
            style:solid;
            color:$color_border;
        }
    }

    &.panel.programme{
        margin:0 $vspacing;
        > section {
            padding:0 1em;
            margin-top:2 * $vspacing;
            .excerpt{
                li{
                    list-style: none;
                    @include check-list (url('../img/check.svg'),1.8em,0 .2em, 0, -2em);
                    line-height: 2;
                    min-height: 30px;
                    margin-bottom: 1em;
                    margin-left: 4em;
                    font-size:1em;
                    font-weight:500;
                    &:before{
                        left:-3em;
                    }
                }
            }
        }
    }
    body.kontakt & {
        padding-top:2 + $vspacing;
        .post_content{
            @include display(flex);
            @include flex-direction(row);
            @include justify-content(space-between);
            > div {
                @include flex(2);
            }
            > aside {margin-left: 2em;}
        }
    } 
}
.parallax{
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width:100%;
    padding:3 * $vspacing 0;
    position:relative;
    &:before{
        @include triangle(50px, #ededee, down);
        position: absolute;
        top:0;
        left:50%;
        margin-left:-25px;
        z-index: 9999999;
        content:' ';
    }
    .post{
        @include alpha-background-color(rgba(white, 0.75), white);
        padding:2 * $vspacing;
        .content_block{
            text-align: center;
            margin-left:300px;
        }
    }
}