article{
    aside & {
        margin:0 2em;
        padding:2em;
    }
    .content &:not(.programme),
        .content &:not(.trainer){
        @media screen and (min-width:$screen-md){
            margin: 2 * $vspacing 0;
            padding: 2 * $vspacing 0; }
        @include border-style(1px 0 0 0, dashed, $color_border);

    }
    #page-cnt .content & {
        @extend %reset;
    }
    &.trainer{
        @include border-style(1px, solid, $color_border);
    }
    .post_content {
        @include clearfix;
        @media screen and (max-width:$screen-xs){
        }
    }
    footer{
        font-size: smaller;
        color:lighten($color_body,20%); 
        .single & {
            margin-top:$vspacing;
        }
    }
    &.type-trainer,
    &.type-erfolgsstories{
        main {
            @extend %clearfix;
        }
        aside {
            @media screen and (min-width:$screen-smallPad - 1) and (orientation:landscape){
                @include span-columns (4);
                ~.post_content {
                    @include span-columns (8);
                    @include omega();
                }
            }
        }

    }
    .kontakt &{
        @include display(flex);
        @include justify-content(space-between);
        > * {
            margin-right:1em;
            @include flex (1);
        }
        > *:last-child {margin-right: 0;}
    }
    > section {}
    footer {
        margin-top:$vspacing;
        padding-top:$vspacing;
        border:{
            width:1px 0 0 0;
            style:solid;
            color:$color_border;
        }
    }

    &.panel.programme{
        @media screen and (min-width:$screen-xs) and (max-width:$screen-sm) {
            header,.post_content {padding:0;}    
        }
        @media screen and (min-width:$screen-sm + 1) {
            header {
                padding: 0 1.2em;
            }
            .post_content {
                padding:0 1em;
                margin-top:2 * $vspacing;
            }
        }
        .post_content {

            .excerpt{
                li{
                    list-style: none;
                    @include check-list (url('../img/check.svg'),1.8em,0 .2em, 0, -2em);
                    line-height: 2;
                    min-height: 30px;
                    margin-bottom: 1em;
                    margin-left: 4em;
                    font-size:1em;
                    font-weight:500;
                    &:before{
                        left:-3em;
                    }
                }
            }
        }


    }
    .shopping-list{
        margin:2 * $vspacing 0;
        padding:$vspacing;
        background:$color_contrast_dark;
        @extend %clearfix;
        &, & *, li, li:before, a{
            color:white;
        }
    }
    body.kontakt & {
        padding-top:2 + $vspacing;
        .post_content{
            @include display(flex);
            @include flex-direction(row);
            @include justify-content(space-between);
            > div {
                @include flex(2);
            }
            > aside {margin-left: 2em;}
        }
    } 
}
.parallax{
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position:relative;
    width:100%;
    &:before{
        @include triangle(50px, #ededee, down);
        position: absolute;
        top:0;
        left:50%;
        margin-left:-25px;
        z-index: 99;
        content:' ';
    }
    .post_content{
        @include alpha-background-color(rgba(white, 0.75), white);

    }
    @media screen and (min-width:$screen-sm){
        padding:3 * $vspacing 0;
        .post_content{
            padding:2 * $vspacing;
        }
    }
}
/**
 * Tables
 */
table {
    border-spacing: 0;
    width: 100%;
    border-collapse: separate;

    caption {
        padding: 1em 0;
        font-weight: 700;
    }

    td,
    th {
        padding: .2em 0em;
        text-align: left;
        vertical-align: top;
        border-bottom:1px dashed $color_primary;

        p:last-child {
            margin-bottom: 0;
        }
    }

    thead {
        th {
            border-bottom: 2px solid $color_border;
            text-transform: uppercase;
            padding: 1.387em;
            vertical-align: middle;
        }
    }

    tbody {
        tr:nth-child(2n) {
            td {
                background: rgba(0,0,0,0.015);

                &:last-child {
                    border-right: 0;
                }
            }
        }

        td {
            background: rgba(0,0,0,0.025);
        }

        h2 {
            font-size: 1em;
            letter-spacing: normal;
            font-weight: normal;

            a {
                font-weight: normal;
            }
        }

        tr:last-child {
            td {
                border-bottom: 0;
            }

            th:first-child {
                border-bottom: 0;
            }
        }
    }

    tfoot {
        th,
        td {
            border-top:1px dotted $color_border;
        }
    }
}