.cart-tab{
	@media screen and (max-width:$screen-xs){
		a.cart-parent{
			@include icon-style ("\f07a", white);
			font-size:2em;
			> span{display:none;}
		}
	}
	@media screen and (max-width:$screen-md){
		top:75px !important;
	}
	@media screen and (min-width:$screen-md + 1){
		top:125px !important;
	}
    
    
    a.cart-parent {
        color:white !important;
        background: $color_contrast !important;
        .amounts, .contents{color:white !important;}
        
    }
    
    .widget_shopping_cart{
    	@media screen and (max-width:$screen-xs){
    		width: 100vW;
    	}
    }
    &.right:hover{
    	@media screen and (max-width:$screen-xs){
    		right: -10vW;
    		left: 10vW;
    	}
    }
}
.cart-tab.right a.cart-parent{
@media screen and (max-width:$screen-xs){
	width:2.5em !important;
	left:-2.5em !important;
	padding:.25em .5em;
}

}
.cart_totals{
    margin: 0 2em;
    width: 30% !important;
}
.widget_shopping_cart{
	@media screen and (max-width:$screen-xs){
		padding:1.3em 0 !important;
	}
}
.woocommerce{
    #respond input#submit.alt,
    a.button.alt,
    button.button.alt,
    input.button.alt{
        &, &:hover {
            background: $color_primary;
        }
    }
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
    padding: .5em !important;
}
.full-size-bar{
    position:relative;
    padding:$vspacing 0; 
      text-align:center;
    .single-erfolgsstories & {
      padding-top:2 * $vspacing;
    }
    &:after{
        content:' ';
        position:absolute;
        bottom:-25px;
        left:50%;
        margin-left:-25px;
        z-index: 99;
    }
}
.single-programme #message{
    @include message-bar($color_primary, url('../img/pattern-first.svg'),soft-light);
}
#message-01{
    @include message-bar($color_secondary, url('../img/pattern-first.svg'),normal);
}
#message-02{
    @include message-bar($color_contrast_dark, url('../img/pattern-second.svg'),soft-light);
}
.cta-link{
    text-align:center;
}
.badge {
/*    display:none !important;*/
    html.flexbox & {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    }
    width: 50%;
    margin: 25%;
    height: 50%;
    overflow:hidden;
    background:transparent url('../img/badge.svg') no-repeat center center / 100%;
    font-size: 1.6em;
    text-align: center;
    color:white ;
    font-family: $handwritten-font;
    position: absolute;
    top: 35%;
    left: 0;
    z-index: 999;
    html.csstransforms &{
        @include transform(rotate(-8deg));
    }
    html.csstransforms .programme:first-child &{ @include transform(rotate(-18deg));}
    html.csstransforms .programme:last-child &{@include transform(rotate(18deg));}
    
    .programme:first-child &{   
        top: 30%;
        left: -30%;
    }
    .programme:last-child &{
        top: 30%;
        left: 30%;
    }
    > span{
        @include flex(1);
        color:inherit !important;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
    }
}
.thumbnail{
    position: relative;
    
    .single & {
        margin:0 5%;
    }
    
/*    &:hover .overlay{
        cursor:pointer;
        opacity: 1;
        @include transition(opacity 0.5s ease-in 0s, width 1.0s ease-in 1s);
    }
    .overlay{
        opacity: 0;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        @include alpha-background-color(rgba(black, 0.35), white);
    }*/
}
.social-media{
    @extend %clearfix;
    margin-bottom:$vspacing;
    a{
        display:block;
        text-align:center;
        i{
            font-size: 1.6em;
        }
        span {
            display:none;
            padding:0 .25em;
            font-weight: normal;
            color:$color_body;
        }
    }
    .flexbox &{
        @include align-items(stretch);
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);
        > li {
            @include flex(1); 
        }
    }
    .no-flex-box &{
        li {
            float: left;
            display: inline-block;
            font-size:2em;
            margin-right:1em;
        }
    }
}
.opening{
    p {
        @include clearfix;
        padding:0;
        &:nth-child(even){
            background: lighten(#eee,2%);
        }
        > * {float:left;}
        > span {
            display:inline-block;
            width:120px;
        }
        > strong {
            font-weight: bold;
        }
    }
}
.contact-data{
    > div {
        position:relative;
        margin-left:2em;
        > span {display: block;}
    }
    > div:before {
        color:$color_primary;
        position: absolute;
        top:0;
        left:-2em;
        opacity: 1 !important;
    }
    .mail {
        @include icon-style("\f0e0",$color_primary);
    }
    .address{
        @include icon-style("\f279",$color_primary);
    }
    .phone {
        @include icon-style("\f095",$color_primary);
    }
}
.iframe-elastic {
    position: relative;
    padding-bottom: 55%;
    padding-top: 15px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

/*** Buttons ****/
.btn {
    &.facebook{
        @include button($color_contrast, white,2px, rgba(0,0,0,.2));
    }
}
/*** scrolling **/
.scroll-to-top{
    @include alpha-background-color(rgba($color_primary, 0.4), white);
    @include circle(50px);
    cursor: pointer;
    display: none;
    font-size: large;
    padding: 2px 10px;
    text-align: center;
    position: fixed;
    right: 20px;
    transition: background-color 0.1s linear 0s;
    z-index: 9999;
   @media screen and (max-width:$screen-md){
            bottom: 20px;
    }
    @media screen and (min-width:$screen-md){
            bottom: 100px;
    }
    
        > * {color:white;}

    &:hover {
        background: $color_primary;
        opacity: 0.8;
    }
}
/** Modal Box functions**/
#modalBox{
    background: rgba(0, 0, 0, 0.8);
    z-index: 999999999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
    
    .close {
        position: absolute;
        top:1em;
        right:1em;
        z-index: 999;
        @include circle(30px);
        background:$color_primary;
        color:white;
        text-align: center;
        @include shadow(2px,rgba(0,0,0,.5));

        span {display:none;}
    }
    
    &:target {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity:1;
        pointer-events: auto;
    }
    .modal-dialog {
        position: absolute;
        top:-100%;
        left:50%;
        width: 800px;
        margin-left:-400px;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        pointer-events: auto;
        height:600px;
        
        .claim{
            color: $color_primary !important;
            font-size: 2em;
        }
        .modal-container{
            margin:25% 5% 10% 15%;
            @include display(flex);
            @include align-items(flex-end);
            @include justify-content(space-between);
            > * {@include flex(1);}
            > .claim{margin:0;}
        }
    }
    &:target .modal-dialog{
        top:5%;
    }
}

/*** Modal Box Styling ***/
.modal-dialog{
    background: white url(../img/bg_modal-form.png) no-repeat bottom left / contain;
}

/**** Tabbed ****/
#tabbed{
    margin:2em 0;
     ul {
        list-style-type: none;
        margin: 0;
        padding: 0; 
        li{
            margin-left: 0;
            h3 {margin:0;line-height: 1;}
            &:before{display:none;}
        }
        &#tabs {
            z-index:10;
            li{
                display: inline-block;
                background-color: $color-primary;
                border: 1px solid $color-primary;
                padding: .5em 1em;
                cursor: pointer;
                font-weight:bold;
                h3 {color: #fff;}
                &:hover, &.active {
                    background-color: white;
                    border-bottom: 1px solid white;
                    h3 {
                        color:#000;
                    }
                }  
            }
           
        }
         &#tab { 
             margin-top:-1px;
             border:{
                 width:1px 1px 1px 1px;
                 style:solid;
                 color:$color-primary;
             }
             padding:1em;
             li{
                display:none;
                &.active {
                    display: block;
                }
            }
         }
     }
}
