.woocommerce{

    .star-rating{
        color:$color_primary;
    }
    .content{
        ul.products{
            padding:2em 0;
            li.product {
                min-height: 380px;
                text-align:center;
                overflow:hidden;
                @media screen and (max-width:$screen-xs){
                    width:calc(100% - 2em) !important;
                    margin:2em 1em;
                    @media screen and (orientation:landscape){
                        width:calc(50% - 1em) !important;
                        margin:0;
                    }
                }
                @media screen and (min-width:$screen-md){
                width:30%;
                margin:5% 10%;
                }
                h3 {
                    @media screen and (max-width:$screen-xs) and (orientation:landscape){
                        @include ellipsis(50%);
                    } 
                }
                .add_to_cart_button{
                    background-color: transparent;
                    color:#000;
                    @media screen and (min-width:$screen-md){
                        margin-top: 1em;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                }
                .add_to_cart_button.added{
					display:none;
                }
                .added_to_cart{
                    color:white !important;
					 background-color: $color_primary;
					 display:block;
                    
                }
                .star-rating{display: none;}
            }
            .star-rating{
                margin:.5em;
            }
            .price{
                width: 100%;
                clear: both;
                margin-top: 1em;
                @media screen and (max-width:$screen-xs){
                    padding-bottom:1.4em;
                }
            }

        }
        div.product{
            @media screen and (max-width:$screen-xs){
                
            }
            @media screen and (max-width:$screen-md){
                @media screen and (orientation:landscape){
                    .images{
                        @include outer-container;
                    }
                    .thumbnails,.attachment-shop_single{
                        @include span-columns(6);
                    }
                }

            }
            @media screen and (min-width:$screen-md){
                .thumbnails{
                    margin:2em 0 0 0;
                }
            }

        }
    }
    .sidebar{
        .product_list_widget{
            li{
                padding:.2em;
                margin:.2em 0;
                border:{
                    width: 0 0 1px 0;
                    style:solid;
                    color:lighten($color_light_grey,20%);
                }
                &:last-child{border:0;}
                .product-title{color:#000;}

                img {width:60px;}

                a {color:#000;}
            }
        }
        .widget_product_tag_cloud{
            h3 {display: none;}
        }
    }

    .woocommerce-tabs {
        border: 1px solid $color_border;
        border-width: 1px 0;
        padding: 1em 0;

        ul.tabs {
            list-style: none;
            margin-left: 0;



            li {
                display: inline-block;
                margin-right: 1em;
                position: relative;
                text-align: center;
                @include border-radius(0);

                &.active {
                    a {
                        color: $color_body;
                        background: white;
                        font-weight: bold;
                    }

                    &:after {
                        content: "\f107";
                        font-family: "FontAwesome";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        height: 1em;
                        width: 1em;
                        line-height: 1;
                        margin-left: -.5em;
                    }
                }
            }
        }
    }
}